body {
    /* margin: 0;
    padding: 0; */

    font-family: Arial, sans-serif;
}
footer > a, footer>i , footer >p {
    padding: .1rem; 
    margin: .1rem;
    display: inline-flex;
    font-size: .6rem;
    
}

footer {
    
    /* padding: .1rem; 
    margin: .1rem; */
    display: inline-flex;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* padding: auto; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height:auto;
}
a{
    color: rgb(236, 225, 66);
}