/* ESTO ES PARA ADAPTAR EL TAMAÑO DE LAS LETRAS PARA EL TAMAÑO POR DEFECTO DE ZOOM EN EL ESCRITORIO */
/*   ⬇   */
:root{
    --font-general:1.6rem;
}
b, a{
    font-size: var(--font-general) !important;
}
/*   ⬆  */

html{
    
    scroll-behavior:smooth;
}
nav{
    position: fixed;
}




body{
    font-family: 'Roboto', sans-serif !important;
    margin: 1rem;
    min-width: 310px;
    max-height: 580px;
    
}


a{
    text-decoration: none;
}


hr{
    filter: opacity(50%);
}
i{
    font-weight:600;
    font-size: 1.2rem;
    
    overflow: hidden;
    
    color:rgb(99, 212, 212);
    letter-spacing: .2rem;
}
/* .title{
    box-shadow: none;
} */
b{
    font-family:monospace;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: blue;
}

.b-alternate{
    width: auto;
    font-family:monospace;
    font-size: 1.2rem !important ;
    letter-spacing: .1rem;
    display: flex;
    justify-content: flex-end;
    color: rgb(99, 212, 212);
}








.list-data{
    position: relative;
    top: 30vh;
    
    display: flex;    
    flex-direction: row;

}
.list-data{
    /* display: grid;
    grid-template-rows: 100%; */
    background-color: #3f3c3c;
    color: #ffffff;
    transform: rotate(-5deg);
}
.list-data >*{
    width: 100%;
    letter-spacing: .3rem;
    word-spacing: 1rem;
}
.para-separar > div, .para-separar > p {
    cursor: pointer;
}
.para-separar{
    max-width: 1800px;    
    top: 10vh;
    margin: auto;
    /* display: grid;
    grid-template-columns: 130% 70% ;
    grid-template-rows: repeat(2, 40%); */
    display: grid;
        
    /* grid-template-rows: repeat(auto-fit, minmax(40rem, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    /* display: flex;
    flex-flow: row wrap;*/
    justify-content: space-between; 
    
    
}
.my-info{
    flex:1 1 15.6rem;
    margin-bottom: 50vh;
    
}





.contact{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    margin-left: 2rem;
    padding: 1rem .1rem 1rem .5rem;
    width: 12rem;
    cursor: pointer;
    border-radius: 3rem;
    color: #ffffff;
    background-color: rgb(41, 173, 248);
} 

.contact:hover{
    background-color: rgb(27, 83, 116);
    transition: .5s ease;
    box-shadow: none;
    box-shadow:  .1rem .3rem .3rem .1rem rgba(0, 0, 0, 0.432);
    color: #ffffff;
}
.contact:not(:hover){
    
    /* background-color: rgb(27, 83, 116); */
    transition-duration:.5s ;
    
    
}
.para-separar:nth-child(2){
    height: 10vh;
    width: auto;
}

.mi-img{
    margin: 1rem;
    position: relative;
    height: auto;
    width:  60%;
    filter: brightness(110%);
    z-index: 600px;
}
.desc-tec{
    margin-top: 1rem;
}
.desc-tec p{
    flex:1 1 15.6rem;
    
}

.desc-tec p{
    display: inline-block;
    margin: 0 0;
}











